@model OgrenciDetayDTO
@{
    ViewData["Title"] = "Öğrenci Detayları";
    ViewData["Description"] = $"{Model.Ogrenci.Ad} {Model.Ogrenci.Soyad} ile ilgili bilgiler";
}

<h1>Öğrenci Detayları</h1>
@if (ViewData["ogrenci"] == null)
{
    <p>Öğrenci Bulunamadı!</p>
}
else
{
    <p>
        ViewData ile gelen veri: @(((Ogrenci)ViewData["ogrenci"]!).Ad)
    </p>
}

@if (ViewBag.student == null)
{
    <p>Öğrenci Bulunamadı!</p>
}
else
{
    <p>
        ViewBag ile gelen öğrenci: @ViewBag.student.Ad
    </p>
}

@*  @if (Model == null)
    {
        <p>Öğrenci bulunamadı!</p>
    }
    else
    {
        <p>
            Model ile gelen öğrenci: @Model.Ogrenci.Ad
        </p>
    } *@

@if (Model == null)
{
    <p>Öğrenci detayları bulunamadı!</p>
}
else
{
    <p>
        Öğrenci Bilgileri:@Model.Ogrenci!.Ad
    </p>
    <p>
        Danışman Bilgileri:@Model.Ogretmen!.Ad
    </p>
}

